<nav th:fragment="navbarFragment" class="navbar navbar-expand-md fixed-top">
    <div class="container-fluid">
        <a class="logo-font navbar-brand haelogo" href="index.html">
            <img src="./image/headerlogo.png" alt="로고" class="mx-1">우리술한잔</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menubar"
                aria-controls="menubar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menubar">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">우리술추천</a>
                    <ul class="d-flex flex-column navbar-nav ms-auto mb-2 mb-md-0 sub_menu">
                        <li><a class="nav-link dropdown-menu" href="#">취향테스트</a></li>
                        <li><a class="nav-link dropdown-menu" href="#">우리술찾기</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">커뮤니티</a>
                    <ul class="d-flex flex-column navbar-nav ms-auto mb-2 mb-md-0 sub_menu">
                        <li><a class="nav-link dropdown-menu d-flex flex-column" href="#">Q&A</a></li>
                        <li><a class="nav-link dropdown-menu d-flex flex-column" href="#">유튜브</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">회원가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">로그인</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="line"></div>
</nav>