<html lang="ko" layout:decorate="~{layout/sub_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<section layout:fragment="content">
    <!--header 시작-->
    <header class="d-flex flex-column justify-content-center align-items-center">
        <div id="h_box1" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="container p-2 text-center">
                <h3>큰타이틀</h3>
            </div>
        </div>

        <div id="h_box2">
            <div class="container p-2 d-flex justify-content-center">
                <div class="text-center">
                    <p class="mx-3"><a href="#" class="text-decoration-none text-white">타이틀</a></p>
                    <p class="mx-3"><a href="#" class="text-decoration-none text-white">타이틀</a></p>
                </div>
            </div>
        </div>
    </header>
    <!--header 끝-->
    <!-- main 시작 -->
    <main>
        <div class="mbox"></div>
    </main>
    <!-- main 끝 -->
</section>
</html>